@font-face {
    font-family: "pyeongChang";
    font-weight: 400;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/pyeongChang/pyeongChang-Regular.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/pyeongChang/pyeongChang-Regular.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/pyeongChang/pyeongChang-Regular.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/pyeongChang/pyeongChang-Regular.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/pyeongChang/pyeongChang-Regular.ttf") format("truetype");
    font-display: swap;
}
@font-face {
    font-family: "pyeongChang";
    font-weight: 700;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/pyeongChang/pyeongChang-Bold.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/pyeongChang/pyeongChang-Bold.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/pyeongChang/pyeongChang-Bold.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/pyeongChang/pyeongChang-Bold.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/pyeongChang/pyeongChang-Bold.ttf") format("truetype");
    font-display: swap;
}
.pyeongChang {
    font-family: "pyeongChang";
}
.pyeongChang400 {
    font-family: "pyeongChang";
    font-weight: 400;
}
.pyeongChang700 {
    font-family: "pyeongChang";
    font-weight: 700;
}